/* Write your CSS code here */
.header {
  font-family: 'Roboto';
}
.nav-menu {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.nav-link {
  text-decoration: none;
  margin-right: 20px;
}
